<div class='id-artist'>
	Artist
</div>
<h1>{{model.artist.name}}</h1>
Realname: {{model.artist.realname}}
<br>
Profile: {{model.artist.profile}}

{{!-- Aliases --}}
<div class='section-title'>Aliases</div>
{{#each model.artist.artistAliases as |alias|}}
	{{alias.aliasName}}
{{/each}}

{{!--Labels --}}
<div class='section-title'>Labels</div>
{{paginate-buttons model="label" data=model.labels page=labelsPage size=labelsSize paginate=(action 'paginate')}}
{{#each model.labels as |label|}}
	{{#link-to 'labels.label' label.id}}
		{{label.name}}
	{{/link-to}}
{{/each}}

{{!-- Releases --}}
<div class='section-title'>Releases</div>
{{paginate-buttons model="release" data=model.releases page=releasesPage size=releasesSize paginate=(action 'paginate')}}
{{#each model.releases as |release|}}
	{{#link-to 'releases.release' release.id}}
		{{release.title}}
	{{/link-to}}
{{/each}}

{{outlet}}