<div class='id-release'>
	Release
</div>
<h1>
	{{model.title}}
</h1>
<div class='release-details'>
	<p>
		{{#unless model.mainArtists}}Various Artists{{/unless}}
		{{#each model.mainArtists as |artist|}}
			{{#link-to 'artists.artist' artist.id}}{{artist.name}}{{/link-to}}
		{{/each}}
	</p>
	<p>{{#link-to 'labels.label' model.label.id}}{{model.label.name}}{{/link-to}}</p>
	<p>{{model.released}}</p>
	<p>{{model.country}}</p>
	<p>{{model.notes}}</p>
	<p>{{model.masterId}}</p>

</div>
{{tracks/track-list tracks=model.releaseTracks  release=model queueSave="queueSave" allQueueSave="allQueueSave"}}
{{outlet}}