<div class='id-artist'>
	Artist
</div>
<h1>{{model.artist.name}}</h1>
Realname: {{model.artist.realname}}
<br>
Profile: {{model.artist.profile}}
{{!-- Aliases --}}
<div class='section-title'>Aliases</div>
{{!-- {{paginate-buttons model="artist" data=artists page=page size=size paginate=(action 'paginate')}} --}}
{{#each model.artist.artistAliases as |alias|}}
	{{alias.aliasName}}
{{/each}}
{{!--Labels --}}
<div class='section-title'>Labels</div>
{{#each model.labels as |label|}}
	{{#link-to 'labels.label' label}}
		{{label.name}}
	{{/link-to}}
{{/each}}
{{!-- {{paginate-buttons model="artist" data=artists page=page size=size paginate=(action 'paginate')}} --}}
{{!-- Releases --}}
<div class='section-title'>Releases</div>
{{#each model.releases as |release|}}
	{{#link-to 'releases.release' release}}
		{{release.title}}
	{{/link-to}}
{{/each}}

{{outlet}}