<p>realname: {{artist.realname}}</p>
<p>profile: {{artist.profile}}</p>
<p>groups: {{artist.groupCount}}</p>
<p>members: {{artist.memberCount}}</p>
<p>aliases: {{#each artist.artistAliases as |alias|}}{{alias.aliasName}}{{/each}}</p>
<p>labels: {{#each artist.labels as |label|}}{{#link-to 'labels.show' label}}<p>{{label.name}}</p>{{/link-to}}{{/each}}</p>
<p>groups: {{#each artist.groups as |group|}}{{#link-to 'artists.show' group}}<p>{{group.name}}</p>{{/link-to}}{{/each}}</p>
<p>members: {{#each artist.members as |member|}}{{#link-to 'artists.show' member}}<p>{{member.name}}</p>{{/link-to}}{{/each}}</p>
<p>releases: {{#each artist.releases as |release|}}{{#link-to 'releases.show' release}}<p>{{release.title}}</p>{{/link-to}}{{/each}}</p>

{{yield}}